@media screen  and (max-width:970px) {
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% - 60px);
        margin-bottom: 40px;
    }
    .who_img{
        width: calc(100% - 354px);

    }
    
}
@media screen  and (max-width:880px) {
    .who_in{
        display: block;
    }

}
.who_img{
    width: 100%;
    margin-bottom: 20px;
}
.who_info{
    width: 100%;
}
.desk{
    margin-bottom: 35px;
}
.rev{
    width: calc(50% - 15px);
}
.foot_tit{
    font-size: 16px;
}
.tit{


}
.nav{
    display: none;
}


    